{
    "timeout": 10,
    "source": {
        "directories": [
            "app"
        ],
       "excludes": [
            "Authentication",
            "Console",
            "Exceptions",
            "Providers",
            "Http/Controllers",
            "Http/Middleware",
            "Post/Repository"
       ]
    },
    "phpUnit": {
        "configDir": "./",
        "customPath": "vendor/bin/phpunit"
    },
    "logs": {
        "text": "infection/infection.log"
    },
    "mutators": {
        "@default": true
    }
}
